<h1>درباره‌ی دفتر استعداد‌های درخشان دانشگاه شهید بهشتی</h1>
<p>در برنامه ریزی و قیمت گذاری خدمات اینترنت پرسرعت همواره برای سه دسته از
  متقاضیان (کم مصرف، متوسط مصرف و پرمصرف)، طرح های مختلفی تنظیم گشته است تا
  استفاده از خدمات اینترنت پرسرعت وایمکس مبین نت منحصر به گروه خاصی از مشترکین
  نگردد. در جدول زیر طرح های مختلف خدمات اینترنت پرسرعت مبین نت در شهرهای مختلف
  ایران (از جمله مناطق آزاد و ويژه اقتصادی) آمده است که می توانید برای درخواست
  آنها به بخش اشتراک خدمات مراجعه فرمایید</p>
